<%- include("partials/header.ejs") %>

    
    <form action="/edit/<%= index %>" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= data.title %>" required><br><br>
        <label for="paragraph">Paragraph:</label>
        <textarea id="paragraph" name="para" required><%= data.para %></textarea><br><br>
        <button type="submit">Save Changes</button>
    </form>
    

 <%- include("partials/footer.ejs") %>
